* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
header,
main {
  min-height: 50%;
}

header {
  border-bottom: 4px solid hsl(0deg, 0%, 40%);
}

.max-width-wrapper {
  margin: auto;
  max-width: 500px;
}

/* header */
.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 8px;
  display: inline-block;
}

.intro-chunk {
  padding-top: 48px;
  padding: 0 16px;
}

.intro-chunk p {
  max-width: 300px;
}

.intro-chunk strong {
  color: hsl(160deg, 100%, 30%);
}

/* main */
main {
  /* border trick sounds bad */
  border: 1px solid transparent;
  background: hsl(0deg, 0%, 60%);
}

.card {
  padding: 16px;
  padding-top: 8px;
  margin: 24px 0;
  background: hsl(0deg, 100%, 100%);
  border-bottom: 4px solid hsl(0deg, 0%, 40%);
}

@media (max-width: 300px) {
  .card p {
    display: none;
  }
}

.indented-heading {
  background: hsl(45deg, 100%, 50%);
  border-bottom: 4px solid hsl(45deg, 100%, 40%);
  padding: 16px 24px;
  font-size: 1rem;
  width: fit-content;
  margin-top: 0;
  margin-left: -24px;
}
